Footer{
    background-color: rgb(255, 196, 0);
    border: rgb(255, 196, 0) 1px solid ;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    padding-bottom: 0%;
    width: 100%;
    text-align:center;


}
.Social{
    justify-content: center;
}
i:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  i:hover:active {
    background-color: olivedrab !important;
  }

  
@media only screen and (max-width: 480px) {
    .social {
      text-align:center;
      height: 25px;
    }
}
