Footer{
    background-color: rgb(255, 196, 0);
    border: rgb(255, 196, 0) 1px solid ;
    width: 100%;
    height: 100px;
    position: ;
    overflow: hidden;
    bottom: 0;
    padding-bottom: 0;
}
a{
    justify-content: center;
}
a:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  a:hover:active {
    background-color: olivedrab !important;
  }
  
  a:active {
    background-color: olivedrab !important;
  }
  
@media only screen and (max-width: 480px) {
    .social {
      text-align:center;
    }
}
